@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	}
body { 
	font-family: 'PT Sans', sans-serif;
	font-size: .9em;
	color: #555753; 
	margin: 0; 
	padding: 0;
	height: 100%;
	width: 100%;
	}

h1, h2, h3, h4{
	font-family: 'Lato', sans-serif;
	margin-bottom: .2em;
	color: #7D775C;
	}
h1{
	margin: 0;
}
h2{
	margin: 0 0 .4em;
}
h3, h4{
	margin: 1em 0 0em 0;
}
a:link { 
	font-weight: normal; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited {
	font-weight: normal;
	text-decoration: none;
	color: #BAB3C1;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

#byline{
	font-family: 'Lato', sans-serif;
	font-size:.9em;
}

#container{
	width: 100%;
	height: 100%;
}

#mapcontainer{
	margin-right: 30em;
	height: 100%;
	position:inherit;
}

#map-canvas, #map_canvas {
  width: 100%;
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}


#sidebar{
	float: right;
	width: 30em;
	margin-left: -30em;
	margin-right: 0em;
	overflow: auto;
	top:0;
	position: absolute;
	right: 0;
	height:100%;
}

  #infoPanel {
    margin:2em;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  #optionsPanel {
    margin-left: -2em;
	margin-right: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color:#edf4f0
  }
  
#panelcontainer {
  position: relative;
  height:100%;
  width:100%;
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -220px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#panel-bottom {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -100px;
  z-index: 5;
}
  #footer {
 position: relative;
 padding: 1em 3em 1em 3em;
 margin-left: -2em;
 margin-right: -2em;
 font-size: 1em;
 bottom: -4em;
 margin-bottom:0;
 background-color: #134347;
 color: #89A1A3;
  }
  
input.u1 {
    padding: 6px 4px 6px 6px;
    font-size: .8em;
    color: #787878;
    letter-spacing: -0.02em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
    background: -moz-linear-gradient(top,  #e0e0e0,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    margin-right: 20px;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
}
input.u2 {
    padding: 8px 4px 10px 10px;
    font-size: .8em;
    color: #787878;
    letter-spacing: -0.02em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
    background: -moz-linear-gradient(top,  #e0e0e0,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    margin-right: 0px;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
}
input#submitbtn { font-size: 1.3em; padding: 4px 9px; font-family: Arial, Helvetica, sans-serif; letter-spacing: -0.05em; color: #444; }
input.fail { -webkit-box-shadow: 0px 0px 5px #ff4848; -moz-box-shadow: 0px 0px 5px #ff4848; box-shadow: 0px 0px 5px #ff4848; }
input:focus { -webkit-box-shadow: 0px 0px 5px #007eff; -moz-box-shadow: 0px 0px 5px #007eff; box-shadow: 0px 0px 5px #007eff; }

button::-moz-focus-inner {
  border: 0; }

/* minimal
*******************************************************************************/
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 14px/1 "PT Sans", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100px;
  margin: 0px 10px 0px 10px}
  button.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; }
  button.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; }
	
button.Toggle{
	width: 40px;
	padding: 4px 0 4px 0;
	margin: 0px 10px 0px 0px;
	font: bold 12px/1 "PT Sans", helvetica, arial, sans-serif;
}

button.On {
  background: #C5DDCE;
}
  button.On:hover {
    background: #B3CDBE;
    -webkit-box-shadow: inset 0 0 1px 1px #E5EDE8;
    box-shadow: inset 0 0 1px 1px #E5EDE8;
    color: #222;
    cursor: pointer; }
  button.On:active {
    background: #9DB7AB;
    -webkit-box-shadow: inset 0 0 1px 1px #d8e0db;
    box-shadow: inset 0 0 1px 1px #d8e0db;
    color: #000; }
	
button.Off {
  background: #e3e3e3;
  width: 40px;
}

	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	
	body .ui-tooltip {
	border-width: 1px;
	font-family: "PT Sans", sans-serif;
	font-size: .8em;
}

.helper { 
	font-weight: normal; 
	text-decoration: none; 
	color: #B7A5DF;
	}
